

.success-message {
    color: green;
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
}

.form-group-reset {
    /* margin-bottom: 5px; */
    margin-top: 22px;
    display: flex;
    align-items: center; /* Align input and button vertically */
    position: relative; 
}

.form-group-reset label {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 8px;
    display: block;
}

.form-group-reset input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    background-color: #fff;
    transition: border-color 0.3s ease;
}

.form-group-reset input:focus {
    /* border-color: #007bff; */
    outline: none;
}

.show-password-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 1px;  /* Positioned at the right side of the input field */
    top: 50%;
    transform: translateY(-50%);  /* Vertically centered */
    /* font-size: 18px; */
    color: #f3f8fd;  /* Change this to any color you prefer */
    transition: color 0.3s ease;
}

.show-password-btn:hover {
    color: #0056b3; /* Darker shade when hovered */
}

.reset-password-form {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.reset-password-form .form-group-reset {
    margin-bottom: 10px;
}

.reset-password-form button {
    margin-top: 10px;
}


.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #888;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: red;
}
